.home__main-bg {
    background: url("../images/home-design.jpg");
    height: 500px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.home__main-bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.underline--thick {
    display: block;
    height: 20px;
    background: #34c6d3;
}

/* .section_design {
    padding: 10px 10px;
} */

.section_design {
    display: block;
    height: 300px;
    background-size: cover !important;
    margin-bottom: 20px;
    position: relative;
}

.section_name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 10px;
    background: #34c6d3;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.design__header {
    border-bottom: 3px solid #34c6d3;
    margin: 10px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.design__header a,
.design__header a:link,
.design__header a:hover
.design__header a:active {
    text-decoration: none;
}

.design__header a {
    color: #34c6d3;
}

.design__header a:hover {
    color: #278c96!important;
}

.design__description {
    padding: 10px 10px;
    text-align: justify;
}

.design__description h3 {
    text-align: center;
}

.design__image span {
    width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
    background-size: cover!important;
}

.designList_list-item {
    padding: 10px 10px;
    border-radius: 4px;
    margin-top: 20px;
}

.designList_list-item img {
    width: 100%;
    height: 300px;
}